* {
    -main-background-color: rgba(18, 18, 18, 1);
    -button-black-inner-background: #121212;
    -background-color: #3F3F3F;
    -description-text-color: #B8B8B8FF;
    -button-white-background: #FBFBFB;
    -headline-text-color: #FFFFFFFF;
    -headline-buttons-text-color: #F3F3F3;
}